@import "bourbon";
@import "base/base";
@import "neat";
@import 'refills/cards';
@import "animate";

header {
    background-color: #099;
    padding: 0.5em 1em;
    text-align: center;
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
}


header h1 {    
    color: #fff;
    font-family: "helvetica Neue", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 1.618em;
    margin: 0 0 0.1em;
    
}

main {
  color: #FFF;
  background-color: #00b2b3; 
}

footer {
  margin-top: 10px;
}

h1 {
  font-size: 40px; 
  color: #fff;
  
}

h2 {
  color: #fff;
  font-size: 20px;
  text-indent: 20%;
}

nav {
  display: inline;
}

li {
  display: inline;
}

li a {
  margin-left: 0;
}

img {
 display: block;
 margin-left: auto;
 margin-right: auto; 
}

button {
  background-color: #099;
  border: 1px solid #FFF;
  padding: 5px;
  margin: 5px;
}

button:hover { background-color: #00cbcc; }

.bottomish {
  text-align: center;
  padding-bottom: 10px;
}

.bottomish a {
  margin-left: 0;
}

.comment_section a {
  margin-left: 0;
  text-align: center;
}


footer {
  color: #FFF;
  background-color: #099;
  text-align: center;
  text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
}

em {  
  margin-left: 20%;
}

 @-webkit-keyframes input-shadow {
    0% {
        box-shadow: none;
        animation-iteration-count: infinite;
    }
    50% {
        box-shadow: 0 0 40px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
        animation-iteration-count: infinite;
    }
    100% {
        box-shadow: none;
        animation-iteration-count: infinite;
    }
  }

@keyframes input-shadow {
    0% {
        box-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
         
    }
    50% {
        box-shadow: 0 0 40px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
        
    }
    100% {
        box-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff ;
        
    }
 }
.form__element {
-webkit-animation:input-shadow ease-in-out 1s infinite; /* Chrome, Safari, Opera */
animation:input-shadow ease-in-out 1s infinite;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */

 